<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="loggingConfiguration"
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"
				 requirePermission="true"/>
	</configSections>

	<loggingConfiguration name="Logging Application Block"
						  tracingEnabled="true"
						  defaultCategory="General">

		<listeners>
			<add name="Rolling Flat File Trace Listener"
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
				 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
				 fileName="C:\Users\murta\Logs\ToDoApp.log"
				 footer="----------------------------------------"
				 formatter="TextFormatter"/>
		</listeners>

		<formatters>
			<add name="TextFormatter"
				 type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
				 template="Timestamp: {timestamp}{newline}
					Message: {message}{newline}
					Category: {category}{newline}
					Severity: {severity}{newline}
					Title: {title}{newline}
					----------------------------------------{newline}"/>
		</formatters>

		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Rolling Flat File Trace Listener"/>
				</listeners>
			</add>
		</categorySources>

		<specialSources>
			<allEvents switchValue="All" name="All Events">
				<listeners>
					<add name="Rolling Flat File Trace Listener"/>
				</listeners>
			</allEvents>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="All" name="Logging Errors &amp; Warnings"/>
		</specialSources>
	</loggingConfiguration>
</configuration>
